.info
	display block
	z-index 500
	bottom 0
	transition all .4s ease
	
.gui--show .info
	bottom -6rem


.info__title
	font-size 3rem
	font-family 'Roboto'
	font-weight 100
	color #fff
	line-height 2
	
	+md()
		font-size 2rem
		font-weight 400
		line-height 1.5

	+lg()
		font-weight 100
		font-size 3rem
		line-height 2
	
.info__location
	display inline-block
	font-size 1.4rem
	color #fff
	line-height 3rem
	height 3rem
	font-family 'Roboto'
	margin-right 2rem
	padding-left 2.5rem
	background transparent url('../img/icons/location.png') no-repeat left center
	
	+md()
		font-size 1rem
		
	+lg()
		font-size 1.4rem

.info__date
	color blue
	text-align center
	font-size 1.4rem
	height 3rem	
	line-height 3rem
	font-size 1.4rem
	padding 0 1rem
	background #fff
	font-weight 500
	font-family 'Roboto'
	display inline-block
	
	+md()
		font-size 1rem
	
	+lg()
		font-size 1.4rem
	
	&::after
		{pseudo}
		position absolute
		width 100%
		height 10rem
		bottom -10rem
		background #fff
		opacity .3
		left 0