include ../racurse/racurse
include ../more/more

mixin info()
	.info
		.info__title Название объекта
		.info__location г. Махачкала, ул Азизова
		.info__date 2011 / 2015

		+more__open()

		+racurse()