.layout
	max-width 540px
	margin 0 auto
	width 100%
	

header 
	padding 1rem 0


.header__logo
	text-align center
	
	img 
		height 48px
		
.location
	background #fff 
	border-radius 4px 
	box-shadow 0px 6px 24px rgba(0,0,0,.1)
	padding 1rem
	margin 1rem 0 2rem
		
	&__title
		font-size 1.5rem
		line-height 1
		margin-bottom 1rem
		font-family 'Roboto', 'Helvetica', sans-serif
		
		&::before
			content ''
			position absolute
			display block
			height 100%
			width 4px
			background blue
			left -1rem

	&__images
		
		img
			display inline-block
			vertical-align top
			width 49%
			margin-right 2%
			
		img + img
			margin-right 0
			
	&__address
		font-size .8rem
		margin 1rem 0
		color #888
		font-style italic
		
	&__description
		border-top 1px solid #eee
		
		p
			font-size 1rem
			font-weight 400
			line-height 1.5
			color #444
			
	&__more
		font-size .8rem
		color #fff
		font-weight 500
		text-transform uppercase	
		letter-spacing 1px
		text-align center
		display block
		border-radius 2px
		background blue
		box-shadow 0px 5px 12px rgba(0,0,0,.1)
		padding .8rem
		transition background .4s ease
		
		&:hover
			background darken(blue, 10%)
			

.page-next
.page-previous
	display inline-block
	margin 0 0 1rem 0
	background #fff
	color blue
	padding .8rem
	width 49%
	text-align center
	border-radius 4px
	box-shadow 0px 5px 12px rgba(0,0,0,.1)
	margin-right 2%
	font-size .8rem
	text-transform uppercase
	
.page-next
	margin-right 0
	background lighten(blue,40%)
	color #fff
	font-weight 500

footer
	display block
	border-top 1px solid #ccc
	padding 1rem 0
	
.footer__contact
	display inline-block
	vertical-align top
	margin-right 1rem
	margin-bottom 1rem
	
	span
		display block
		font-weight 500
		
	span + span
		font-weight 400
		
.footer__about p
	font-size .8rem
	line-height 1.5
	color #aaa
	font-weight 400
	text-align justify