mixin mobile__location()
	.location
		.location__title Памятник русской учительнице
		.location__images
			img(src="img/photo/1.jpg", alt="")
			img(src="img/photo/2.jpg", alt="")

		.location__address пр. Петра I
		.location__description
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.

		a(href="").location__more Подробнее



mixin mobile__location--more()
	.location
		.location__title Памятник русской учительнице
		.location__images
			img(src="img/photo/1.jpg", alt="")
			img(src="img/photo/2.jpg", alt="")

		.location__address пр. Петра I
		.location__description
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.
			p.
				Нельзя пренебрегать влиянием культурно-исторических памятников на воспитание подрастающего поколения, формирование нравственных и духовных ценностей и ориентиров, чувства патриотизма.

		a(href="/").location__more Вернуться к списку


mixin mobile__footer()
	footer
		.footer__contact
			span Тел.:
			span +7 989 123-45-67
		.footer__contact
			span E-Mail:
			span info@newdagestan.org

		.footer__about
			p.
				Проект "Новый Дагестан" осуществляется при поддержке государственного фонда сохранения культурных памятников и объектов. Цель проекта - показать жителям Данастана процесс преображения республики.

mixin mobile__pagination()
	a(href="").page-previous Предыдущие
	a(href="").page-next Следующие