@import 'helpers/_settings.styl'
@import 'helpers/_mixins.styl'
@import 'helpers/_general.styl'

body
	background #fafafa
	overflow visible
	overflow-x hidden
	height auto
	font-family 'Roboto', 'Helvetica', sans-serif
	font-size 16px
	padding 0 1rem

@import '../blocks/mobile/*.styl'