.racurse
	display inline-block
	margin-left 6rem
	top 1rem
	z-index 500
	min-width 10rem
	
	span
		position absolute
		left -1px
		bottom -1.2rem
		color #fff
		font-size .8rem
		font-family 'Roboto'

.racurse__item
	width 5rem
	height 3rem
	background blue
	margin-right 1rem
	display inline-block
	font-size 0
	line-height 1
	overflow hidden
	border 2px solid #fff
	cursor pointer
	
	&--active
		border 4px solid blue
	
	img
		display block
		width 100%
		background-size cover !important