.menu
  display block
  position absolute
  width 25rem
  height 100%
  top 0
  left -25rem
  background #fff
  padding 8rem 2rem 6rem 3rem
  transition all .3s ease
  z-index 1000
  
  +md()
    padding 4rem 1rem 4rem 1rem
    
  +lg()
    padding 8rem 2rem 6rem 3rem
    

  &::before
    {pseudo-cover}
    left 0
    background #fff
    transform skewX(0deg)
    transform-origin 100% 100%
    transition all .3s ease
    box-shadow 16px 0 32px rgba(0,0,0,.1);
  
  &--active
    left 0
    
    &::before
      transform skewX(-5deg)
      

.menu__title
  font-size 2.2rem
  font-weight 500
  color blue
  font-family 'Roboto', sans-serif
  
.menu__contact
  span
    display block
    font-size .8rem 
    font-family 'Roboto'
    font-weight 700
    
    &:last-child
      font-size 1rem
      font-weight 400
      margin-bottom 1.5rem
      
.menu p
  font-size 1.2rem
  line-height 1.5
  font-family 'Roboto'
  font-weight 100
    

.menu__burger
  width 3rem
  height 3rem
  background blue url('../img/icons/menu-open.png') no-repeat center
  z-index 500
  box-shadow 0px 0px 0px 4px #fff
  cursor pointer
  left 0
  transition all .4s ease
  z-index 1000
  
  &--active
    background blue url('../img/icons/menu-close.png') no-repeat center
    
  
  +width-below(1290px)
    top 2rem 
    left 2rem
  
  &::after
    {pseudo}
    width 10rem
    height 3rem
    background rgba(255,255,255,.5)
    left -10rem
    
.gui--show .menu__burger
  left -10rem