mixin menu()
	// Боковое меню
	.menu
		.menu__title Контакты
		
		.menu__contact
			span Тел.:
			span +7 989 123-45-67
			
		.menu__contact
			span E-Mail:
			span info@newdag.ru

		.menu__title О проекте
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		
mixin menu__burger()
	// Бургер собственной персоной
	.menu__burger
