include ../blocks/more/more
include ../blocks/compare/compare
include ../blocks/gui/gui
include ../blocks/menu/menu

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    title Новый Дагестан

    link(rel="stylesheet", href="css/flickity.css")
    link(rel="stylesheet", href="css/main.css")

  body

    +more()

    +compare()

    +menu()

    +gui()

    +gridview()

    script(src="js/jquery-2.min.js")
    script(src="js/draggabilly.pkgd.min.js")
    script(src="js/flickity.pkgd.min.js")
    script(src="js/scripts.js")