include ../blocks/mobile/mobile

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    title Новый Дагестан

    link(rel="stylesheet", href="css/mobile.css")

  body
  
  .layout
    header
      .header__logo
        img(src="img/logo.png", alt="")
  
    +mobile__location--more()

    +mobile__footer()