.more
	display block
	position fixed
	top 0
	left 0
	width 100%
	height 0%
	overflow hidden
	opacity 0
	background #fff
	z-index 2000
	text-align center
	padding 1rem 0
	transition opacity .4s ease, height 0s .4s ease
	
	h2
		font-size 1.6rem
		line-height 1.5
		font-family 'Roboto'
		color #222
		font-weight 500
		
	&--active
		height 100%
		opacity 1
		overflow-y scroll
		transition opacity .4s ease, height 0s ease
		

	&__close
		position fixed
		top -3rem
		right 3rem
		width 3rem
		height 3rem
		background blue url('../img/icons/menu-close.png') no-repeat center
		cursor pointer
		
		&.active
			top 3rem
	
	&__container
		width 60%
		max-width 640px
		text-align left
		margin 1rem auto
		font-family 'Roboto'
		font-size 1rem
		line-height 1.5
		
		img
			display block
			max-width 100%
			

	&__open
		display inline-block
		line-height 2rem
		height 3rem
		text-align center
		padding .5rem 3rem
		font-size .8rem
		font-weight 500
		font-family 'Roboto'
		margin 0 1.5rem
		background blue
		color #fff
		top -4px
		text-transform uppercase
		transition all .4s ease
		cursor pointer
		
		&:hover
			background #fff
			color blue
			
		&::before
			{pseudo}
			position absolute
			left 50%
			top 50%
			margin -16px 0 0 -16px
			width 32px
			height 32px
			background url('../img/loader.gif') no-repeat center
			opacity 0
			transition all .2s ease
			
		&.loading
		&.loading:hover
			background blue
			color blue
			
			&::before
				opacity 1
				transition all .4s .4s ease
			