.item-arrow
	display block
	width 7rem
	height 7rem
	border-radius 6rem
	background #000
	border 2px solid #fff
	transition transform .4s ease
	cursor pointer
	transform scale(.8,.8)
	z-index 50
	background-size cover !important
	top 0
	
	&:hover
		transform scale(1,1)
		
	&.arrow-prev
		left 0
		
	&.arrow-next
		right 0
		
	&.disabled
		top -9999px

.gui--show .item-arrow
	&.arrow-prev
		left -10rem
		align-content flex-start
		
	&.arrow-next
		right -10rem
		align-content flex-end