include ../item-arrow/item-arrow

mixin compare()
	// Блок
	.compare
		
		// Переключаетли локаций (блок .item-arrow)	
		+item-arrow('prev')
		+item-arrow('next')
		
		// Ползунок
		.compare__dragger
			// Разделитель ползунка
			.compare__dragger--line

			// Рукоятка ползунка
			.compare__dragger--circle

		// Контейнер для изображения До
		.compare__image.image-before
			.image-content
				
		//Контейнер для изображения После
		.compare__image.image-after
			.image-content
