//===================================================
//===================================================
//
// Блок .compare
.compare
	display block
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	background #000
	display flex
	align-items center
	justify-content space-between
	padding 0 2rem
	overflow hidden
	
	&::after
		{pseudo}
		position absolute
		left 0
		bottom 0
		width 100%
		height 40%
		background linear-gradient(to top, #000, transparent)
		opacity .9
		


// Ползунок
.compare__dragger
	width 6rem
	text-align center
	position absolute
	height 100%
	left 50%
	margin-left -3rem
	z-index 100

// Разделитель
.compare__dragger--line
	position absolute
	width .4rem
	height 140%
	margin-left -.2rem 
	left 50%
	top -20%
	background #fff
	transform rotate(4deg)
	box-shadow 0px 0px 16px rgba(0,0,0,.2)
	
// Рукоятка
.compare__dragger--circle
	position absolute
	top 50%
	left 50%
	width 5rem
	height 5rem
	margin-top -2.5rem
	margin-left -2.5rem
	background #fff url('../img/icons/dragger.png') no-repeat center
	border-radius 50%
	box-shadow 0px 7px 26px rgba(0,0,0,.1)
	cursor pointer
	


// Контейнер изображений
.compare__image
	position absolute
	width 100%
	height 100%
	background transparent
	top 0
	background-size 100% 100%

// Модификатор для левого Контейнера
.image-before
	transform skewX(-4deg)
	left -2%
	overflow hidden

	.image-content
		position absolute
		top 0
		left 2%
		width 100%
		height 100%
		background-size cover !important
		transform skewX(4deg)
	
// Модификатор для правого контейнера
.image-after
	transform skewX(-4deg)
	right -4rem
	width 53%
	overflow hidden
	
	.image-content
		position absolute
		top 0
		right 4rem
		width 100%
		height 100%
		background-size cover !important
		transform skewX(4deg)