.gui
    display block
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    padding 3rem
    display flex
    align-items center
    justify-content space-between
    flex-direction column
    overflow hidden
    pointer-events none
    
    +md()
      padding 1rem 1rem 2rem 1rem

    +lg()
      padding 3rem
    

.gui__line
    width 100%
    display flex
    align-items center
    justify-content space-between
    pointer-events auto
    
    &:nth-child(1)
        align-items flex-start
    
    &:nth-child(2)
        align-items flex-end
        

.gui__switcher
  width 3rem
  height 3rem
  background blue url('../img/icons/gui-on.png') no-repeat center
  z-index 500
  box-shadow 0px 0px 0px 4px #fff
  cursor pointer
  transition all .4s ease
  
  &.active
    background blue url('../img/icons/gui-off.png') no-repeat center
  
  +width-below(1290px)
    top 2rem 
    left 2rem
  
  &::after
    {pseudo}
    position absolute
    width 10rem
    height 3rem
    background rgba(255,255,255,.5)
    right -10rem
    
.logo
  position relative
  Z-INDEX 1000
  top 0
  transition all .4s ease
  
  img
    +md()
      height 64px

    +lg()
      height 80px

  
.gui--show .logo
  top: -20rem