include ../menu/menu
include ../item-arrow/item-arrow
include ../gridview/gridview
include ../info/info
include ../racurse/racurse


mixin gui__switcher()
	// Переключалка режима просмотра
	.gui__switcher

mixin gui()
	// Весь gui
	.gui
		// Верхняя линия меню, логотипом и кнопкой режима просмотра
		.gui__line
			+menu__burger()
	
			.logo
				img(src="img/logo.png", alt="Новый Дагестан")

			+gui__switcher()
		
		// Нижняя линия с информацией о текущей локации и кнопкой превьюшек
		.gui__line
			+info()

			+gridview__switcher()