.gridview
  display block
  position absolute
  width 100%  
  height 0%
  opacity 0
  background rgba(0,0,0,.85)
  z-index 500
  overflow hidden
  top 0
  transition all .4s ease
  z-index 600
  transition opacity .4s ease, height 0s .4s linear
  
  &--active
    height 100%
    opacity 1
    transition opacity .4s ease, height 0s linear
  
.gui--show .gridview
  bottom -10rem
  
.gridview__slider
  width 80%
  height 60%
  left 10%
  top 20%
  
.gridview__slide
  position absolute
  width 100%
  height 100%
  top 0
  left 0
  display flex  
  align-items center
  justify-content center
  align-content center
  flex-wrap wrap
  
.gridview__item
  width 18%
  overflow hidden
  margin 0 4rem 2rem 0
  cursor pointer
  
  +width-below(1100px)
    margin 0 2rem 2rem 0
  
  &-title
    color #fff
    font-size 1rem
    font-weight 100
    font-family 'Roboto'
    line-height 1.5
    height 3rem
    
  &-image
    border 2px solid #fff
    transition all .4s ease
    background-size cover !important
    height 12rem
    
    +md()
      height 7rem
      
    +lg()
      height 12rem
      
    +height-below(840px)
      height 9rem
      
    +height-below(720px)
      height 7rem
      
    img
      max-width 100%
    
  &:hover &-image
    border 2px solid blue
  

.gridview__switcher
  display inline-block
  vertical-align middle
  width 3rem
  height 3rem
  background blue url('../img/icons/grid.png') no-repeat center
  border 2px solid #fff
  z-index 500
  box-shadow 0px 0px 0px 4px #fff
  cursor pointer
  z-index 1000
  transition all .4s ease
  
  &.active
    background blue url('../img/icons/menu-close.png') no-repeat center
  
  
.gridview__counter
  display inline-block
  line-height 1
  font-size 1.5rem
  color #fff
  font-weight 100
  font-style italic
  margin-right 1rem
  top .4rem
  font-family 'Roboto'
  z-index 500
  

.gridview .flickity-page-dots .dot
  width 1rem
  height 1rem
  border-radius 0px
  background #fff
  opacity .6
  transform rotate(45deg) scale(.6,.6)
  transition all .4s ease
  margin 0 1rem
  
  &.is-selected
    transform rotate(135deg) scale(1,1)
    opacity 1