mixin gridview__switcher()
	// Переключалка в режим превьюшек
	div
		// Счетчик
		.gridview__counter 1 / 18

		// Переключатель
		.gridview__switcher

mixin gridview__item(image, name)
	// Элемент локации в слайде
	.gridview__item
		.gridview__item-title!= name
		.gridview__item-image
			img(src=image, alt="")

mixin gridview()
	// Блок превьюшек
	// Сюда выводятся все локации
	.gridview

		// Слайдер для превьюшек
		.gridview__slider#gridSlider