@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500);

*
  position relative
  box-sizing border-box

body
html
  padding 0
  margin 0
  width 100%
  height 100%

body
  font-size 18px
  color #222
  font-family 'Roboto' sans-serif
  overflow hidden
  
  +sm()
    font-size 14px

  +md()
    font-size 14px
    
  +lg()
    font-size 18px

a
a:link
a:visited
a:active
a:hover
    text-decoration none

ul
ol
  list-style-position inside

nav ul
  list-style none
  margin 0
  padding 0

p
  font-size 18px
  line-height 1.5
  margin 1em 0
